body {background-color: #1d5d69;
      font-family: Arial, Verdana, sans-serif;}

header {width: 90%;
        padding: 2em;
        color: #dcffff;}
        
        .homenav {
             display: flex block;
             justify-content: center;
             align-items: center;
             padding: 1em;}
        
        .homelogo {
             display: flex;
             justify-content: center;
             align-items: center;}

        .homenavbutton {
            padding: .5em;
            margin: 1em;
            position: center;
            border: 2px solid transparent}

        .page {display: flex inline}
        
        .pagelogo {
            justify-content: left;
             align-items: center;}

        .pagenavbutton {
                list-style-type: none;
                padding: .5em;
                margin: 1em;
                position: center;
                border: 2px solid transparent}

        
h1 {color: #dcffff;
        font-size: 3vw;
        font-family: Georgia, Times, serif;
        font-style: bold;
        position: right}
                
h2 {color: #dcffff;
        font-size: 2.5vw;
        font-family: Georgia, Times, serif;
        font-style: bold}

        
a:link, a:visited {
            color: #ffffff;
            border-radius: 10px;
            border: 2px solid #fdffff;
            position: center;
            padding: .5em;
            text-decoration: none;
            box-shadow: 5px 10px rgba (0, 0, 0, 0.8);}

a:hover {
            border: 2px solid #fff;
            border-radius: 10px;
            background-color: #dcffff;
            color: #13616d;
            position: center;
            padding: .5em;
            text-decoration: none;
            box-shadow: 5px 10px rgba (0, 0, 0, 0.8);}
 

